version: '3.8'
services:
  mongo:
    image: mongo:latest
    container_name: cert_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: cert_backend
    restart: always
    depends_on:
      - mongo
    ports:
      - "8080:8080"
    environment:
      - MONGODB_URI=mongodb://mongo:27017
    volumes:
      - ./backend/config/config.yaml:/root/config/config.yaml

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    container_name: cert_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"

volumes:
  mongo_data:
